.design-container {
  height: auto;
  margin-left: 56px;
  margin-right: 56px;
  row-gap: 32px;
  margin-bottom: 20rem;
  margin-top: 20rem;
}

.design-col {
  padding-top: 3rem;
  display: flex;
  /* justify-content: space-between; */
}
.design-title {
}
.design-mainTitle h1 {
  font-size: 6rem;
  font-weight: 500;
  line-height: 45px;
}

.design-list-image {
  width: 500px;
  height: 800px;
  flex-grow: 2;
  margin-right: 20%;
  /* border: 2px solid red; */
  /* margin-left: 10%; */
}

.design-list-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.design-list-container {
  flex-grow: 1;
  /* border: 2px solid blue; */
}

.design-lists {
  padding: 0;
  margin: 0;
}
.design-lists > * {
  list-style: none;
  display: block;
  /* padding: 10px; */
  padding-bottom: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.design-list__item {
  padding-bottom: 50px;
  padding-top: 10px;
  font-size: 2rem;
}

.design-list__item .svg-inline--fa {
  padding-left: 10xp;
}

.design-list__active {
  border-bottom: 2px solid black;
}

.design-list-image {
}

.design-skills {
  display: flex;
  justify-content: center;
}

.design {
  width: 33%;
  text-align: center;
}

.design-title {
  font-size: 3rem;
  font-weight: 400;
}

.design-items {
  padding: 0;
  list-style: none;
}

.design-item {
  font-size: 1.5rem;
  padding: 10px;
}
