.header {
  z-index: 1000;
  padding: 0 20px 0 20px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-nav > * {
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  padding-bottom: 5px;
  margin: 20px;
  color: #2f2e2e !important;
}

.header-nav > *:hover {
  cursor: pointer;
}

.inactiveNavLink {
}

.activeNavLink {
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 500px) {
  .header-nav {
    /* display: flex;
    justify-content: flex-end; */
  }
}
