.about-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
}

.about-title {
  font-size: 3.4rem;
  font-weight: 100;
  /* margin-bottom: 4rem; */
  /* border: 2px solid red; */
}

.about-info {
  width: 100%;
  font-size: 1.3rem;
  line-height: 27px;
}
.about-image {
  display: none;
  width: 50%;
  height: 500px;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutServices-block {
}
.aboutServiceCards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 768px) {
  .about-title {
    font-size: 5rem;
  }
  .about-container {
    padding: 0 30px 0 30px;
  }

  .about-row-1 {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .about-info {
    width: 45%;
    font-size: 1.7rem;
    line-height: 37px;
    font-weight: 100;
  }

  .about-info p:first-child {
    margin: 0;
  }

  .aboutService-block {
    margin-top: 5rem;

    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid blue; */
    width: 60%;
  }
  .aboutServiceCards-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    padding-bottom: 10rem;
    height: 350px;
  }

  .about-image {
    display: block;
  }
}
