.konbini-container {
  margin: 0 50px 0 50px;
}

.konbini-header {
  padding-bottom: 5rem;
  border: 2px solid red;
}
.konbini-title {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.konbini-role,
.konbini-tech,
.konbini-year {
  display: flex;
  flex-direction: row;
}

.konbini-table-container h2 {
  padding-right: 10px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1%;
}

.konbini-bio {
  font-size: 2rem;
  line-height: 38px;
}

.konbini-images {
  display: flex;
  justify-items: center;
}

.konbini-images-1 {
  /* height: 1000px;
  width: 400px; */
  justify-self: center;
}

.konbini-images-1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.konbini-images-2 {
  height: 1000px;
  width: 400px;
  justify-self: center;
}

.konbini-images-2 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .konbini-table__header {
    visibility: hidden;
  }

  .konbini-table__data {
    flex-wrap: wrap;
  }
}
