.nc-container {
  margin: 0 120px 0 120px;
  display: flex;
  flex-direction: column;
}

.nc-title {
  font-size: 7rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nc-info {
  display: flex;
  justify-content: space-between;
  /* min-width: 1119px; */
}

.margin-right {
  margin-right: 1rem;
}

.nc-info h2 {
  font-size: 1.7rem;
  font-weight: 500;
}
.nc-role,
.nc-tech,
.nc-year {
  display: flex;
  flex-direction: row;
}

.nc-bio {
  font-size: 2.2rem;
  line-height: 45px;
}
.nc-link-container {
  margin-top: 4rem;
}
.nc-link {
  font-size: 2.2rem;
  width: 385px;
  cursor: pointer;
  margin-bottom: 20rem;
}

.nc-link {
  transition-property: border-bottom;
  transition-delay: 5ms;
  transition-duration: 5000ms;
  transition-timing-function: ease-out;
}

.nc-link:hover {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.nc-prototype {
  margin-top: 12rem;
}

.nc-title2 {
  text-align: center;
  text-transform: none;
  /* min-width: 883px; */
}
.nc-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
}

.nc-image {
  /* border: 2px solid red; */

  height: 100%;
  flex-basis: 45%;
}

.nc-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nc-prototype {
}

@media only screen and (max-width: 1112px) {
  .nc-container {
    margin: 0 20px 0 20px;
  }
  .nc-title {
    font-size: 3rem;
  }

  .margin-right {
    padding-right: 10px;
  }

  .nc-info {
    /* flex-wrap: wrap; */
    /* min-width: 470px; */
    flex-direction: column;
  }

  .nc-info h2 {
    margin: 0;
    margin-bottom: 20px;
    /* padding: 20px; */
    font-size: 1.5rem;
  }

  .nc-bio {
    font-size: 2rem;
  }

  .nc-prototype h2 {
  }

  .nc-images {
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
  }

  .nc-image {
    flex-basis: 100%;
  }

  .nc-title2 {
    font-size: 3rem;
  }
}
